:host {

  .toolbar {
    height: 40px;
    display: -webkit-box;
    position: relative;
  }

  gridster {
    display: flex;
    height: calc(100vh - 115px);
    flex-direction: column;
  }

  button {
    margin: 0px;
    :disabled {
      color: slategrey;
    }
  }

  .draggable {
    padding: 5px;
    width: 100px;
    border: solid 2px #000;
    margin-left: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .xbtn {
    orientation: 'right';
  }
}