:host {

  .toolbar {
    height: 60px;
    display: -webkit-box;
    position: relative;
  }

  gridster {
    display: flex;
    height: calc(90vh - 120px);
    flex-direction: column;
  }

  table {
    vertical-align: top;
  }

  button {
    margin: 5px;
    :disabled {
      color: slategrey;
    }
  }

  .draggable {
    padding: 5px;
    width: 100px;
    border: solid 2px #000;
    margin-left: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .xbtn {
    orientation: 'right';
  }
}
