<div style="background-color: antiquewhite;">
  <div>
    <table>
      <tr>
        <td>
          <b>Device:</b> {{deviceService.getDeviceCat()}} / {{deviceService.getOS()}} {{deviceService.getOSVersion()}} /
          {{deviceService.getBrowser()}} {{deviceService.getBrowserVersion()}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Sceen size:</b> x: {{getScreenWidth()}} y: {{getScreenHeight()}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Layout:</b> {{layoutService.getGridType()}} / {{layoutService.getCompactType()}} /
          {{layoutService.getSwap()}} / {{layoutService.getPush()}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Columns:</b> {{layoutService.getMaxCols()}} / width: {{layoutService.getFixedColWidth()}} / margin:
          {{layoutService.getMargin()}}
        </td>
      </tr>
    </table>
  </div>
  <br>
  <div class="toolbar" style="background-color:aliceblue">
    <button (click)="layoutService.addItem(0, 0)">Add item</button>
    <button (click)="layoutService.deleteAllItems()">Remove all items</button>
  </div>
  <div class="toolbar" style="background-color:lightcyan">
    Recently launched item: {{launchId}}
  </div>
  <gridster [options]="options" style="background-color:lightgrey">
    <gridster-item *ngFor="let item of layout" [item]="item" (click)="launchApp(item)" [@showHide]="alive ? ':enter' : ':leave'">
      <app-tile [id]="item.id" [x]="item.x" [y]="item.y" (delete)="deleteItem(item.id)">
      </app-tile>
    </gridster-item>
  </gridster>